@using OnlineAptitudeExam.Models;
@using OnlineAptitudeExam.Utils;
@{
    Layout = null;

    var exams = ViewBag.exams as List<Exam>;

     
    if (exams.Count > 0)
    {
        <div class="card-body table-responsive p-0">
            <table class="table table-striped table-valign-middle">
                <thead style="font-weight:bold">
                    <tr>
                        <th>Avatar</th>
                        <th>UserName</th>
                        <th>Test day</th>
                        <th>Score</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody id="accoutsTestedTable">
                    @foreach (var item in exams)
                    {
                        var scores = Helper.GetScoreFromExam(item);
                        var account = item.Account;
                        var isPass = ((double)scores.First / (double)scores.Second * 100) > 75;
                        <tr>
                            <td>
                                <img style="width: 36px; height: 36px" class="rounded-circle" src="~/Content/images/avatars/@(account.avatar == null ? "user_placeholder.png": account.avatar)">
                            </td>
                            <td>
                                @account.username
                            </td>
                            <td>
                                @DateUtils.toDateString(item.time_end)
                            </td>
                            <td>
                                @scores.First/@scores.Second
                            </td>
                            <td>
                                <span class="@(isPass ? "text-behance":"text-youtube")">@(isPass ? "Pass" : "Fail")</span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}
