@using Microsoft.AspNet.Identity
@using OnlineAptitudeExam.Models;

@{
    Account user= HttpContext.Current.Session["UserInfo"] as Account;
}


@if (Session["UserInfo"] is Account)
{
  
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-link">
            @if (@user.avatar != null)
            {
                <img src="@user.avatar.ToString()" style="width:30px;height:30px;"/>
            }
            else
            {
                <img src="~/Content/images/user_placeholder.png" style="width:30px;height:30px;"/>
            }
            @Html.ActionLink(user.fullname.ToString(), "Profile", "Home", routeValues: null, htmlAttributes: new { id = "fullname_display" })
        </li>
    <li class="nav-link"><a href="@Url.Action("LogOut", "Auth")" style="text-decoration:none;color:white;"><i class="fa-solid fa-right-from-bracket"></i> Logout </a></li>
</ul>
    
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-link"><i class="fa-solid fa-right-to-bracket" style="color:white;">&nbsp;
             </i> @Html.ActionLink(" Log in", "Login", "Auth", routeValues: null, htmlAttributes: new { id = "nav_login_header"})</li>
    </ul>
}
