@model OnlineAptitudeExam.Models.LoginViewModel
@using OnlineAptitudeExam.Models
@{
    ViewBag.Title = "Log in";
}

<div class="login row" >
    <div class="col-md-6">
        <section id="loginForm">
            <h2>@ViewBag.Title.</h2>
            @using (Html.BeginForm("Login", "Auth", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Use account which employer provided</h4>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                
                <h5>@ViewBag.Error</h5>

                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "password_field" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        <br /> <input type="checkbox" onclick="myFunction()"><label>&nbsp; Show Password</label>
                    </div>
                </div>

                <input type="submit" value="Log in" id="btn_login" class="btn btn-default" />

            }
        </section>
    </div>
    <div class="col-6">
        <img src="~/Content/images/login_img.jpg" />

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
function myFunction() {
    var x = document.getElementById("password_field");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>