@model OnlineAptitudeExam.Models.Account
@using OnlineAptitudeExam.Models;

@{
    @Styles.Render("~/Content/css/editProfile.css")
}

@using (Html.BeginForm("EditProfile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container rounded bg-white mt-5 mb-5 " style="margin-bottom: 163px !important;">
        <div class="row justify-content-center">

            <div class="col-md-6 my-5">
                <div class="mb-3">
                    <h4 class="text-right">Profile Edit</h4>
                </div>

                <div class="form-group">
                    <label class="labels">Full Name</label>
                    <input class="form-control" id="fullname" name="fullname" type="text" required maxlength="100" value="@Model.fullname" />
                </div>
                <div class="form-group mt-1">
                    <label class="labels">Age</label>
                    <input class="form-control" id="age" name="age" type="number" min="0" max="150" value="@Model.age" />
                </div>
                <div class="form-group mt-1">
                    <label class="labels">Address</label>
                    <input class="form-control" id="address" name="address" type="text" maxlength="100" value="@Model.address" />
                </div>
                <div class="form-group mt-1">
                    <label class="labels">Description</label>
                    <input class="form-control" id="descriptions" name="descriptions" type="text" maxlength="255" value="@Model.descriptions" />
                </div>
                <div class="form-group mt-1">
                    <label class="labels">Avatar</label>
                    <input class="form-control" type="file" value="@Model.avatar" name="avatar" />
                    <span class="text-danger field-validation-error" data-valmsg-for="UserName" data-valmsg-replace="true">@ViewBag.avatar_err</span>   
                </div>

                <div class="mt-4 text-center">
                    <input class="btn btn-primary profile-button" type="submit" value="Save Profile" />
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

