@model OnlineAptitudeExam.Models.Question

@using OnlineAptitudeExam.Models;
@using OnlineAptitudeExam.Utils;
@using Newtonsoft.Json.Linq;
@using Newtonsoft.Json;
@using System.Diagnostics;

@{

    ViewBag.Title = "QuestionExam";

    var questions = ViewBag.questions as List<Question>;

    var totalCorrectAnswers = ViewBag.totalCorrectAnswers as List<int>;

    int type = ViewBag.type;

    var timeRemaining = ViewBag.timeRemaining as string;

    var exam = ViewBag.exam as Exam;

    var examDetails = exam.ExamDetails.ToList();

}


<div class="quesmain">



    <div class="row">
        <div class="col-md-12">
            <div>Time Remaining : <span id="minRemaining"></span>:<span id="secRemaining"></span></div>
            @DateTime.Now.AddMinutes(25).Ticks.ToString()
        </div>
    </div>

    <form id="question_form" data-test_id="@ViewBag.testId" method="post">


        @for (int i = 0; i < questions.Count; i++)
        {
            <div class="question" data-question_id="@questions[i].id.ToString()">

                @{
                    var examDetail = examDetails.Find(ed => ed.question_id == questions[i].id);

                    string[] userAnswers = null;

                    if (examDetail != null)
                    {
                        userAnswers = examDetail.selected_question.Trim('[', ']').Split(new[] { ',' }).ToArray();
                    }

                    <p class="fw-bold"> @(i+1) .@questions[i].question </p>

                    var splitAnswer = questions[i].answers.Trim('[', ']').Split(new[] { ',' }).Select(x => x.Trim('"')).ToArray();
                    for (int j = 0; j < splitAnswer.Length; j++)
                    {

                        bool isChecked = userAnswers != null && userAnswers.Contains(j.ToString());
                        <p>
                            <input type='@(totalCorrectAnswers[i] == 1 ? "radio":"checkbox")' @(isChecked ? "checked" : "") id="@splitAnswer[j]" name="Answer'+@i+'" value="@j" />

                            <label for="@splitAnswer[j]"> &nbsp;&nbsp;@splitAnswer[j]</label>
                        </p>
                    }
                }

            </div>

        }

        <button type="button" class="btn btn-outline-primary" id="btn_submit">
            Submit
        </button>


    </form>

</div>

@section scripts {
    <script>

        $("#btn_submit").off('click').on('click', function (e) {
            e.preventDefault();
            submit();
        });
        function submit() {
            let mForm = $("#question_form");

            let testId = mForm.data("test_id");

            let questions = new Map();
            mForm.find(".question").each(function () {

                let questionId = $(this).data("question_id");
                let selectedQuestion = [];

                $(this).find("input").each(function (i) {
                    if ($(this).is(":checked")) {
                        selectedQuestion.push(i);
                    }

                });

                if (selectedQuestion.length == 0) {
                    alert('Please answer all question !');
                }
                console.log(testId + "    " + questionId + "    " + JSON.stringify(selectedQuestion));
                questions.set(questionId, JSON.stringify(selectedQuestion));
            });

            console.log(JSON.stringify(Object.fromEntries(questions)));
            return false;
        }

        // time setting

        function executeAsync(func) {
            setTimeout(func, 0);
        }

        var remSecond = @timeRemaining;
        var secondCounter = remSecond % 60;

        function formatNumber(number) {
            if (number < 10) {
                return '0' + number;
            } else {
                return '' + number;
            }
        }

        function startCount() {
            document.getElementById('secRemaining').innerText = formatNumber(secondCounter);
            document.getElementById('minRemaining').innerText = formatNumber(parseInt(remSecond / 60));

            var tick = setInterval(function () {

                if (remSecond > 0) {
                    remSecond = remSecond - 1;
                    secondCounter = secondCounter - 1;

                    document.getElementById('secRemaining').innerText = formatNumber(secondCounter);
                    document.getElementById('minRemaining').innerText = formatNumber(parseInt(remSecond / 60));

                    if (secondCounter == 0) {
                        secondCounter = 60;
                    }
                } else {
                    alert("Time out !");
                    clearInterval(tick);
                }

            },1000);
        }
        startCount();

    </script>

}
