@model OnlineAptitudeExam.Models.Question

@using OnlineAptitudeExam.Models;
@using OnlineAptitudeExam.Utils;
@using Newtonsoft.Json.Linq;
@using Newtonsoft.Json;
@using System.Diagnostics;

@{

    ViewBag.Title = "QuestionExam";

    var questions = ViewBag.questions as List<Question>;

    var totalCorrectAnswers = ViewBag.totalCorrectAnswers as List<int>;

    int type = ViewBag.type;

    var timeRemaining = ViewBag.timeRemaining as string;

    var exam = ViewBag.exam as Exam;

    var examDetails = exam.ExamDetails.ToList();

}

<div class="quesmain">

    <div class=" d-flex flex-column position-fixed" 
         style="width: 360px; top: 62px; left: 50%; transform: translate(-50%, 0); background: #fff6c3; border-bottom-left-radius: 16px; border-bottom-right-radius: 16px ">
        <h4 class="text-center" style="color:red;">@Enums.GetQuestionType(type) Exam</h4>
        <div class="text-center pb-2" style="font-size: 20px; color: red; "> <i class="fa-regular fa-clock"></i> &nbsp; Time Remaining : <span id="minRemaining"></span>:<span id="secRemaining"></span></div>
    </div>

    <form id="question_form" style="padding-left: 300px; margin-top: 64px" data-test_id="@ViewBag.testId" data-url="@Url.Action("SaveExamResult")" method="post">


        @for (int i = 0; i < questions.Count; i++)
        {
            <div class="question" data-question_id="@questions[i].id.ToString()">

                @{
                    var examDetail = examDetails.Find(ed => ed.question_id == questions[i].id);

                    int[] selectedAnswers = null;

                    if (examDetail != null)
                    {
                        selectedAnswers = (JsonConvert.DeserializeObject(examDetail.selected_question) as JArray).Select(item => (int)item).ToArray();
                    }

                    <p id="question@(i+1)" class="fw-bold"> @(i+1). @questions[i].question <b style="color:orange;">(@questions[i].score marks)</b> </p>
                    var answers = JsonConvert.DeserializeObject(questions[i].answers) as JArray;
                    for (int j = 0; j < answers.Count; j++)
                    {

                        bool isChecked = selectedAnswers != null && selectedAnswers.Contains(j);
                        <p>
                            <input type='@(totalCorrectAnswers[i] == 1 ? "radio":"checkbox")' @(isChecked ? "checked" : "") id="@("question-"+i+"-"+j)" name="Answer'+@i+'" value="@j" />

                            <label for="@("question-"+i+"-"+j)"> &nbsp;&nbsp;@answers[j]</label>
                        </p>
                    }
                }

            </div>
        }

        <button style="margin-left:60%;" type="button" class="btn btn-outline-primary" id="btn_submit">
            Submit and next exam
        </button>

    </form>

</div>

@section scripts {
    <script>

        $("#btn_submit").off('click').on('click', function (e) {
            e.preventDefault();
            $(this).addClass('disabled')
            submit();
        });

        function submit() {
            let mForm = $("#question_form");
            let url = mForm.data("url");

            let testId = mForm.data("test_id");
            let examDetails = [];
            let validAnswer = true;

            mForm.find(".question").each(function (i) {

                let questionId = $(this).data("question_id");

                let selectedQuestion = [];
                $(this).find("input").each(function (i) {
                    if ($(this).is(":checked")) {
                        selectedQuestion.push(i);
                    }
                });

                if (selectedQuestion.length == 0) {
                    alert("Please enter select answer at question " + (i + 1))
                    let scrY = $('#question' + (i + 1))[0].getBoundingClientRect().top - 150;
                    window.scrollTo(0, window.scrollY + scrY)
                    validAnswer = false;
                    return false;
                }

                //console.log(testId + "    " + questionId + "    " + JSON.stringify(selectedQuestion));

                let examDetail = {
                   questionId : questionId,
                   selectedQuestion : JSON.stringify(selectedQuestion)
                };
                examDetails.push(examDetail);
            });
            if (!validAnswer) {
                $("#btn_submit").removeClass('disabled');
                return false;
            }
            let data = {
                testId: testId,
                examDetails: examDetails
            };
            loadUrl(url, function (data) {
                //console.log(data.message);
                if (data.success) {
                    window.location.reload();
                }

            }, null, "POST", data)

            return false;
        }

        // time setting

        function executeAsync(func) {
            setTimeout(func, 0);
        }

        var remSecond = @timeRemaining;
        var secondCounter = remSecond % 60;

        function formatNumber(number) {
            if (number < 10) {
                return '0' + number;
            } else {
                return '' + number;
            }
        }

        function startCount() {


            document.getElementById('secRemaining').innerText = formatNumber(secondCounter);
            document.getElementById('minRemaining').innerText = formatNumber(parseInt(remSecond / 60));

            var tick = setInterval(function () {

                if (remSecond > 0) {
                    remSecond = remSecond - 1;
                    secondCounter = secondCounter - 1;

                    document.getElementById('secRemaining').innerText = formatNumber(secondCounter);
                    document.getElementById('minRemaining').innerText = formatNumber(parseInt(remSecond / 60));

                    if (secondCounter == 0) {
                        secondCounter = 60;
                    }
                } else {

                    swal({
                        title: "Time out",
                        icon: "success",
                        button: "Ok",
                    });

                    clearInterval(tick);

                    window.location.reload();
                }

            },1000);
        }

      startCount();


    </script>

}
